.__timeline {
    z-index: 3;
}
.__timeline .col {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 5;
}
.__timeline .col .time {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #931c26;
    position: absolute;
    line-height: 15px;
    display: none;
    font-size: 9px;
    text-align: center;
    font-weight: bold;
    bottom: 22px;
    left: 50%;
    width: 36px;
    margin-left: -18px;
}
.__timeline .col .time .arrow1,
.__timeline .col .time .arrow2 {
    width: 0;
    height: 0;
    border-bottom: 0;
    position: absolute;
    left: 50%;
    top: 14px;
}
.__timeline .col .time .arrow1 {
    margin-left: -7px;
    border: 7px solid transparent;
    border-top-color: #931c26;
}
.__timeline .col .time .arrow2 {
    margin-left: -6px;
    border: 6px solid transparent;
    border-top-color: #000000;
}
.__timeline .col:first-child .time .arrow1,
.__timeline .col:first-child .time .arrow2 {
    margin-left: -12px;
}
.__timeline .position {
    position: absolute;
    bottom: 10px;
    height: 2px;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.7);
    display: none;
}
.__timeline .col:hover .position {
    background-color: #f73185;
}
.__timeline .col:hover .time {
    display: block;
}
.__timeline:hover .col .position {
    display: block;
}
.__thumbnail-timeline .__timeline {
    display: block;
}